/* Color Theme Swatches in Hex */
.Cositas-Rorey-2-1-hex { background-color: #CCD6FF; }
.Cositas-Rorey-2-2-hex { background-color: #FFCCD7; }
.Cositas-Rorey-2-3-hex { background-color: #E4E9FE; }
.Cositas-Rorey-2-4-hex { background-color: #FFF2CC; }
.Cositas-Rorey-2-5-hex { background-color: #D9FFDF; }



*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    /* overflow: hidden; */
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    outline: none;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar {
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    display: none;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.26);
    
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.35);
  }


.nav{
  z-index: 400;
  display: flex;
  justify-content: space-around;
  background-color: #FFF2CC;
    /* height: 100%; */
    width: 100vw;
    border-bottom: 3px solid #F23030;
    box-shadow: 1px 1px 5px 1px black;
}
.logo{
  width: 40%;
  /* display: inline; */
}
.logo img {
    /* max-width: 35%; */
    margin:0.5em 1rem;
    
}

.ham-menu{
  margin-top:20px ;
  margin-right:30px ;
  display: none;
}
.ham-menu-item{
  display: none;
  background-color: #FFF2CC;
  z-index: 200;
  /* display: flex; */
  justify-content:center;
  /* align-items: center; */
  position: absolute;
  right:0px;
  top:85px;
  width:100vw;
  height:300px;
}
.menu-item:hover{
  border-bottom:1px solid #F23030;
}
.ham-menu-item a{
  padding-bottom:10px ;
  margin:10px;
  font-size: 22px;
  color: #d61616;
  text-decoration: none;
}
.ham-menu-item li img{
  padding-top: 25px;

}
.ham-menu-item li{
  text-align: center;
  list-style: none;
  /* border-bottom: 1px solid black; */
}


.nav ul{
  width: 23%;
  /* float: right; */
  padding-top: 17px;
  /* margin-top:3% ; */
  display: flex;
  flex-direction: row;
}
.nav ul a{
  padding-top: 10px;
  text-decoration: none;
  color: #F23030;
  margin-bottom:30px;
  padding-right:10px;
}
.nav ul a:hover{
  border-bottom: 1px solid #F23030;
}
.nav ul li{
  width:50%;
  padding-left:10px;
  list-style: none;
}
.section{
    z-index: -100;
    background-position: 50% 41%;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    height:80vh;
}
#admin{
  display: none;
}

.profiles{
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.profile{
  color: #fff;
  text-shadow: 1px 1px 5px #27282a;
  border-radius: 10px;
  width: 45%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.footer{
    border-top:  3px solid #F23030 ;
    padding: 0.5em 1rem;
    min-height: 7vh;
    width: 100vw;
    box-shadow: 0px 0px 5px 1px black;
    
}
.footer ul{
    padding: 1vh;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer li{
    list-style: none;
    color: #F28705 ;
}
.footer a{
    color: #F28705 ;
    text-decoration: none;
}
.footer a:hover{
    color: #f20505 ;
    text-decoration: none;
}
.footer li:hover{
    border-bottom-width: 10px ;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #F2CB05;
    text-decoration: none;
}



/* form */

input[type=text], select, [type=number] {
    border:none;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=password], select, [type=number] {
    border:none;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }
  

  
  input[type=submit] {
    margin-top: 6px;
    position: relative;
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    left: 35%;
  }

  input[type=submit]:hover {
    background-color: #03925e;
  }

  input[type=button] {
    margin-top: 6px;
    position: relative;
    background-color: #04AA6D;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    left: 43%;
  }
  
  input[type=button]:hover {
    background-color: #03925e;
  }
  
  .container h1{
    font-size: 26px;
    color:#fff;
    text-shadow: 1px 1px 5px #27282a;
    margin-bottom: 10px;
  }
  .container {
    box-shadow: 1px 1px 10px 1px #000;
    background-color: #9a0942;
    width: 300px;
    border-radius: 5px;

    padding:  20px 20px 15px 20px;
  }
  

  
  .col {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .mid{
    display: flex;
    /* flex-direction: column; */
    /* width: 25%; */
    height:40vh;
    border-radius: 0%;
    border-left:2px outset #F23030;
    /* border-right:2px dashed #fff; */
  
  }

  @media screen and (max-width: 1200px) {
    .ham-menu{
      display: block;
    }
    .nav ul{
      display:none;
    }
  }
  @media screen and (max-width: 660px) {
    .logo{
      width:100%;
    }
    .mid{
      margin: 10px;
      height: 1%;
      flex-direction: row;
      border-left: none;
      border-right: none;
      width: 80vw;
      border-top:2px outset #F23030;
    }
    .section{
      height: 100%;
      flex-direction: column;
    }
    .col{
      width: 100%;
      margin-top: 6px;
    }

    input[type=submit] {
      left: 0%;
      width: 100%;
      margin-top: 5px;
    }
    input[type=button] {
      left: 0%;
      width: 100%;
      margin-top: 5px;
    }
    .feed-container{
      width:100% !important;
    }
  }


/* feedback started */

.feed-container{
  width: 700px;
  background-color: #9a0942;
}

textarea{
  padding: 12px;
  /* border: 1px solid #f23030; */
  border-radius: 4px;
  width: 100%;
  margin-top: 6px;
  resize: none;
  overflow-y: scroll;
}
textarea::-webkit-scrollbar {
  width: 10px;
}


textarea::-webkit-scrollbar-track {
  background: #2e2e2e2d;
  display: none;
}

textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(104, 103, 103, 0.26);
  
}
textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 99, 99, 0.35);
}


























